.watchlist {
  color: white;
  /* height: 700px; */
}

.stockCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  height: 88px;
  color: rgb(216, 216, 216);
  border-bottom: 6px solid #64a59d;
  border-right: 3px solid #64a59d;
  background-color: rgb(67, 67, 67);
  margin: 25px;
  padding: 0px 40px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.stockCard:hover {
  transform: scale(1.03);
}

.symbol {
  font-size: 1.9em;
  margin-bottom: 8px;
}

.symbols {
  min-width: 170px;
}

.signal {
  font-size: 1.3em;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  height: auto;
}

.lastPrice {
  font-size: 1.4em;
  font-weight: 600;
}

.price > .change {
  font-size: 1.2em;
}
