.header {
  height: 170px;
  width: 70%;
  background-color: rgb(167, 167, 167);
  border-radius: 10px;
  margin: 30px;
}

.stockDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stockDetails {
  background-color: grey;
  color: white;
}

.menuBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border: 4px solid grey;
  border-top-left-radius: 10px;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}
.board {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(167, 167, 167);
  border-radius: 10px;
}

.stockChart {
  width: 900px;
}

.subChart {
  width: 500px;
}
